#navbar {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  max-width: 800px;
  margin: auto;
  font-size: 1.1rem;
  color: var(--col-brandfg);
  background: var(--col-brandbg);
  border-radius: 10px;
}

#navbar span {
  padding: 0.5rem 0;
}

#navbar a {
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: var(--col-brandlink);
}
