<footer>
    All original content is licensed under free/libre copyleft license(GPL or CC BY-SA).
    <br>
    The source code is available <a href="https://gitlab.com/utkarsh181/utkarsh181.gitlab.io">here.</a>
</footer>
