<h1>About</h1>

<h2>Introduction</h2>
<div id="profile">
  <img src="/assets/utkarsh.webp" alt="" />
  <p>
    I'm Utkarsh Singh. I currently live in Noida, India and work for
    <a href="https://watchguard.com">WatchGuard</a> as an Full Cycle Engineer. I
    maintain this website to log my real world exploration, including (but not
    limited to) topics:
  </p>
  <ul>
    <li>Cloud. All of its aspects: scalability, security and architecture.</li>
    <li>
      Programming languages. The entire spectrum, starting from esoteric
      <a href="https://www.gnu.org/software/guile/">Guile</a> to the popular
      Python.
    </li>
    <li>GNU Emacs. The only true <i>operating system</i>.</li>
    <li>Fitness. Strength training and running.</li>
    <li>Typography and it's application on Web.</li>
  </ul>
</div>

<h2>Elsewhere on the web</h2>
<table>
  <thead>
    <tr>
      <th>Site</th>
      <th>Link</th>
      <th>Topic</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let link of links">
      <td><fa-icon [icon]="link.icon"></fa-icon> {{ link.iconName }}</td>
      <td>
        <a href="{{ link.url }}"> {{ link.url }}</a>
      </td>
      <td>{{ link.topic }}</td>
    </tr>
  </tbody>
</table>
