#profile img {
  float: left;
  margin-right: 2rem;
}

@media (max-width: 768px) {
  #profile img {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.4rem;
  border: 1px solid #333;
}
