<p>
  <svg
    id="statusCode"
    width="232"
    height="94"
    viewBox="0 0 232 94"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M46.024 92V69.728H0.2V63.072L46.664 2.39999H57.16V59.744H69.832V69.728H57.16V92H46.024ZM14.792 59.744H46.024V18.144L14.792 59.744ZM117.588 93.536C111.572 93.536 106.537 92.192 102.484 89.504C98.4733 86.816 95.2733 83.232 92.884 78.752C90.4947 74.2293 88.788 69.2373 87.764 63.776C86.74 58.272 86.228 52.7467 86.228 47.2C86.228 43.2747 86.5053 39.1787 87.06 34.912C87.6573 30.6027 88.6387 26.4427 90.004 22.432C91.3693 18.3787 93.2467 14.7307 95.636 11.488C98.0253 8.24533 101.012 5.66399 104.596 3.744C108.223 1.824 112.553 0.863998 117.588 0.863998C123.604 0.863998 128.617 2.22933 132.628 4.96C136.681 7.648 139.903 11.2533 142.292 15.776C144.681 20.2987 146.388 25.2907 147.412 30.752C148.436 36.2133 148.948 41.696 148.948 47.2C148.948 51.1253 148.649 55.2427 148.052 59.552C147.455 63.8187 146.452 67.9787 145.044 72.032C143.679 76.0427 141.801 79.6693 139.412 82.912C137.023 86.1547 134.036 88.736 130.452 90.656C126.868 92.576 122.58 93.536 117.588 93.536ZM117.588 83.04C121.641 83.04 124.948 81.952 127.508 79.776C130.068 77.5573 132.052 74.6773 133.46 71.136C134.868 67.552 135.828 63.6693 136.34 59.488C136.895 55.3067 137.172 51.2107 137.172 47.2C137.172 42.7627 136.873 38.432 136.276 34.208C135.679 29.9413 134.655 26.08 133.204 22.624C131.796 19.1253 129.812 16.352 127.252 14.304C124.735 12.256 121.513 11.232 117.588 11.232C113.492 11.232 110.143 12.3413 107.54 14.56C104.937 16.736 102.932 19.616 101.524 23.2C100.116 26.784 99.1347 30.688 98.58 34.912C98.0253 39.0933 97.748 43.1893 97.748 47.2C97.748 51.5947 98.0467 55.9253 98.644 60.192C99.2413 64.4587 100.265 68.32 101.716 71.776C103.209 75.1893 105.236 77.92 107.796 79.968C110.399 82.016 113.663 83.04 117.588 83.04ZM207.649 92V69.728H161.825V63.072L208.289 2.39999H218.785V59.744H231.457V69.728H218.785V92H207.649ZM176.417 59.744H207.649V18.144L176.417 59.744Z"
      fill="var(--col-basefg)"
    />
  </svg>
</p>

<p id="description">
  You have followed a broken or non-existent link. Use the above navigation bar
  to browse this website.
</p>
