#logo {
  display: block;
  margin: 15vh auto 6vh auto;
  animation: fill 0.5s ease forwards 3.5s;
}

#quote {
  opacity: 0;
  text-align: center;
  font-size: 3rem;
  animation: appear 0.5s forwards 3.8s;
}

@media (max-width: 768px) {
  #logo {
    width: 100%;
  }
}

/* Youtube tutorial for animation: https://www.youtube.com/watch?v=vJNVramny9k */

#logo path:nth-child(1) {
  stroke-dasharray: 352.23;
  stroke-dashoffset: 352.23;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 311.39;
  stroke-dashoffset: 311.39;
  animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 425.47;
  stroke-dashoffset: 425.47;
  animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 392.53;
  stroke-dashoffset: 392.53;
  animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 331.14;
  stroke-dashoffset: 331.14;
  animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 343.28;
  stroke-dashoffset: 343.28;
  animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 408.74;
  stroke-dashoffset: 408.74;
  animation: line-anim 2s ease forwards 1.8s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--col-basefg);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
