table {
  table-layout: fixed;
  width: 100%;
}

table a {
  text-decoration: none;
}

td {
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}

td p {
  padding: 0;
  margin: 0;
}

td:first-child {
  padding-left: 0;
}

td:last-child {
  padding-right: 0;
}

.date {
  white-space: nowrap;
  vertical-align: baseline;
  /* color: var(--gray); */
  text-transform: lowercase;
}
