<table>
  <tbody>
    <tr *ngFor="let blogPost of blogPostList">
      <td align="left">
        <p>
          <a routerLink="/blog/{{ blogPost.slug }}">{{ blogPost.title }}</a>
        </p>
        <p id="subtitle">{{ blogPost.subTitle }}</p>
      </td>
      <td class="date" align="right">
        {{ blogPost.date | date : "dd MMM, yyyy" }}
      </td>
    </tr>
  </tbody>
</table>
