@charset "utf-8";

/* CSS themes by Protesilaos Stavrou.  Also check out his informative personal
   website <https://protesilaos.com/>. */

:root {
  --col-black: #000000;
  --col-black-alt: #505050;
  --col-red: #a60000;
  --col-red-alt: #972500;
  --col-green: #005e00;
  --col-green-alt: #145c33;
  --col-yellow: #813e00;
  --col-yellow-alt: #863927;
  --col-blue: #0000bb;
  --col-blue-alt: #223fbf;
  --col-magenta: #721045;
  --col-magenta-alt: #5317ac;
  --col-cyan: #00538b;
  --col-cyan-alt: #005a5f;
  --col-white-alt: #f0f0f0;
  --col-white: #ffffff;
  --col-calm: #61284f;
  --col-cold: #093060;
  --col-mild: #184034;
  --col-warm: #5d3026;
  --col-bgdim: #f8f8f8;
  --col-brandbg: #ebebeb;
  --col-brandfg: #424242;
  --col-brandlink: #002f40;
  --col-commentfg: #595959;
  --col-variablefg: #005e8b;
  --col-keywordfg: #531ab6;
  --col-stringfg: #3548cf;
  --col-constantfg: #0000b0;
  --col-basebg: var(--col-white);
  --col-basebgalt: var(--col-white-alt);
  --col-basefg: var(--col-black);
  --col-basefgalt: var(--col-black-alt);
  --col-baselinkfg: var(--col-blue);
  --col-baselinkfgalt: var(--col-cyan);
  --col-baselinkfghover: var(--col-blue-alt);
  --col-baselinkfgalthover: var(--col-cyan-alt);
  --col-inlinecodebg: var(--col-basebgalt);
  --col-inlinecodefg: var(--col-basefg);
  --col-codeblockbg: var(--col-bgdim);
  --col-codeblockfg: var(--col-basefg);
  --col-notifyinfo: var(--col-blue);
  --col-notifynote: var(--col-green);
  --col-notifywarn: var(--col-yellow);
  --col-notifycrit: var(--col-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --col-black: #000000;
    --col-black-alt: #181a20;
    --col-red: #ff8059;
    --col-red-alt: #f4923b;
    --col-green: #44bc44;
    --col-green-alt: #00cd68;
    --col-yellow: #eecc00;
    --col-yellow-alt: #f0ce43;
    --col-blue: #00bdfa;
    --col-blue-alt: #72a4ff;
    --col-magenta: #feacd0;
    --col-magenta-alt: #b6a0ff;
    --col-cyan: #00d3d0;
    --col-cyan-alt: #6ae4b9;
    --col-white-alt: #a8a8a8;
    --col-white: #ffffff;
    --col-calm: #fbd6f4;
    --col-cold: #c6eaff;
    --col-mild: #bfebe0;
    --col-warm: #f8dec0;
    --col-bgdim: #110b11;
    --col-brandbg: #121212;
    --col-brandfg: #b2a2a2;
    --col-brandlink: #c8d4df;
    --col-commentfg: #989898;
    --col-variablefg: #00d3d0;
    --col-keywordfg: #b6a0ff;
    --col-stringfg: #79a8ff;
    --col-constantfg: #00bcff;
    --col-basebg: var(--col-black);
    --col-basebgalt: var(--col-black-alt);
    --col-basefg: var(--col-white);
    --col-basefgalt: var(--col-white-alt);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 1rem;
  color: var(--col-basefg);
  background: var(--col-basebg);
}

a {
  color: var(--col-baselinkfg);
  text-decoration: none;
}

a:visited {
  color: var(--col-baselinkfgalt);
}
